body {
    background-color: #032626;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.logo{
    background-color: #038c73;
}

.navbar {
    background-color: #f2ece4 !important;
}

.navbar-collapse {
    display: flex !important;
}

.navbar-nav {
    flex-direction: row !important;
    gap: 1rem;
}

.nav-link{
    color: #032626;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar .navbar-brand {
    color: #038c73 !important;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar .nav-link:hover {
    color: #038c73 !important;
}

.container-mayor{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #032626, #02403a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #032626, #02403a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #f2ece4;
    padding: 10%;
}

.titulo1{
    color: #f2ece4;
    font-size: 500%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo2{
    color: #038c73;
    font-size: 500%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo3{
    color: #0F2027;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 250%;
    text-align: center;
}

.titulo4{
    color:#f2ece4;

}

p{
    font-size: 100%;
    color: #f2ece4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boton{
    background-color: #038c73;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f2ece4;
    border: none;
    border-radius: 25%;

}
.boton:hover{
    background-color: #032626;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f2ece4;
    border-radius: 25%;
    border: none;
}
.segundo-mayor{
    background-color: #f2ece4;
    padding: 5%;
}

h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0F2027;
}

.card-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0F2027;
}

.circulo {
    margin: 5%;
    width: 100px;
    height: 100px;
    background-color: #f2ece4; /* Color beige claro */
    border-radius: 50%; /* Esto lo hace circular */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono-circulo{
    font-size: 40px;
    color: #032626; /* Color verde oscuro */
}

.card{
    box-shadow: 3px 3px 3px 3px;
}

.tercer-mayor{
    background-color: #02403a;
}

.contenido1{
    color: #038c73;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%; 
}

.contenido2{
    color: #f2ece4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

.cuarto-mayor{
    background-color: #032626;
}

.contenido3{
    color: #f2ece4a7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.columnaFooter{
    text-align: start;
    padding: 5%;
}

.boton-suscribir{
    color: #f2ece4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5%;
}

.btn-sub{
    background-color: #038c73;
    border: none;
    border-radius: 10%;
    padding: 3%;
}

.btn-sub:hover{
    background-color: #f2ece4;
}

.input-email{
    background-color: #02403a;
    border: none;
    border-radius: 3%;
    padding: 3%;
}

.input-email:hover{
    background-color: #02403aac;
    color: #f2ece4;
}

.final-mayor{
    background-color: #032626;
    display: flex;
    justify-content: center;
    text-align:justify;
    color: #02403aac;
}