body{
    background: #038C73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #032626, #038C73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #032626, #038C73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
    text-align: center;
    color: #F2ECE4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navBar{
    text-align: center;
    background-color: #038C73;
    padding: 1.2%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.navBar > p{
    display: inline;
    font-size: 1.5em;
    padding: 5%;
    margin: 3%;
}
.aduana{
    width: 100%;
}
ion-icon{
    color: #F2ECE4;
    font-size: 30px;
}
a{
    color: #F2ECE4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
a:hover{
    color: yellow;
}
.inicio{
    color: #F2ECE4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.info{
    color: #F2ECE4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: #038C73;
    border-radius: 50px;
    margin: 100px;
    padding: 7px;
    box-shadow: 4px 4px 4px #F2ECE4;
}
.service{
    color: #F2ECE4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 200%;
    background-color: #038C73;
    border-radius: 50px;
    margin: 100px;
    padding: 6px;
    box-shadow: 4px 4px 4px #F2ECE4;
}
.pie{
    color: #F2ECE4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #032626;
    font-size: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding: 80px 0;
}
.pie > i{
    margin: 16%;
}
.circulo{
    display: inline-block;
    background-color: #038C73;
    color: #F2ECE4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 70%;
    text-align: center;
    padding: 40px;
    margin: 40px;
    box-shadow: 4px 4px 4px #F2ECE4;
}
.circulo-central{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.office{
    color: #F2ECE4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #027368;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #F2ECE4;
    margin: 10px;
    padding: 10px;
}
.container{
    padding: 10%;
    margin-left: 35%;
}
.servicios{
    color: #F2ECE4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow:  2px 2px 2px #F2ECE4;
}
.divition{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
    padding: 3%;
}
.divition > img{
    width: 10%;
}
.servicios > img{
    width: 70%;
}
form{
    color: #F2ECE4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 600px;
    padding-bottom: 100px;
    padding-top: 100px;
}
#columnas{
    column-count: 2;
    column-gap:20px;
}

/* Estilos para dispositivos con un ancho de pantalla menor o igual a 768px */
@media (max-width: 768px ) {
    .service{
        padding: 6%;
    }

    .container{
        margin: 0%;
        padding: 0%;
    }

    iframe{
        padding: 0%;
        width: 100%;
        height: 30%;
    }
    
    article{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

/* Estilos para dispositivos con un ancho de pantalla mayor a 768px */
@media (min-width: 769px) {
    article{
        padding: 5%;
        margin: 5%;
    }

    .circulo{
        width: 50%;
    }

    .info{
        font-size: 100%;
    }
}

