body{
    background-color: #032626;
}
.logo{
    background-color: #038c73;
}

.nav{
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-link-color: #038c73;
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-link-hover-color: #032626;
}

.navbar {
    background-color: #f2ece4 !important;
}
.navbar-collapse {
    display: flex !important;
}
.navbar-nav {
    flex-direction: row !important;
    gap: 1rem;
}
.nav-link{
    color: #032626;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar .navbar-brand {
    color: #038c73 !important;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar .nav-link:hover {
    color: #038c73 !important;
}
.titulo1{
    color: #f2ece4;
    font-size: 500%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo2{
    color: #038c73;
    font-size: 500%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: 100%;
    color: #f2ece4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fondo{
    background-color: #032626;
    padding: 7%;
}
.circulo-dos {
    padding: 4%;
    background-color: #f2ece4;
    border-radius: 50%;
}
.nav-link > a{
    color: #032626;
}
.card-text{
    color: #032626;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    background-color: #f2ece4;
    width: 50%;
    border: none;
    border-radius: 10px;
    margin: 5%;
    padding: 1%;
}
input:hover{
    background-color: #b2aeaa;
}
.seguir{
    background-color: #038c73;
    color: #f2ece4;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    padding: 1%;
}
.seguir:hover{
    background-color:#032626;
    color: #b2aeaa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-title{
    color: #038c73;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tab-content-item {
    display: none;
}
.tab-content-item.active {
    display: block;
}
.card-header .nav-link {
    cursor: pointer;
}
.final-mayor{
    background-color: #032626;
}
